---
layout: default
---

{% include nav.html %}

<div class="content">

  <div class="lessonContainer">
    {% for post in site.posts reversed %}

      <section class="lesson" id="{{ post.title | slugify }}">

        <div class="lesson-inner">

          <div class="lesson-title">
            {{ post.title }}
          </div>
          <h2>
            {{ post.topic }}
          </h2>

          {{ post.content }}


          {% if post.presentation or post.material %}
            <h4 class="downloadAssetsHeadline">
              Class Assets
            </h4>
          {% endif %}

          {% if post.presentation %}
            <a class="downloadButton presentation" href="{{ post.presentation }}">
              📈 Open the presentation for {{ post.title }}
            </a>
          {% endif %}

          {% if post.material %}

            <a class="downloadButton material" href="https://github.com/olivierbrcknr/html-css_tutorial/tree/main/excercises/{{post.material}}">
              📄 Download the material for {{ post.title }}
            </a>

          {% endif %}

        </div>

      </section>

    {% endfor %}
  </div>

</div>
