
<div class="marginPaddingDemo demoBlockMargin">

  <div class="demoContainer">

    <div class="mpBox" id="marginBox">
      <div class="Box_inner"></div>
    </div>

    <h5>
      This is how <i>margin</i> works.
    </h5>
    <p>
      It creates an invisible placeholder around the element.
    </p>

  </div>

  <div class="demoContainer">

    <div class="mpBox" id="paddingBox">
      <div class="Box_inner"></div>
    </div>

    <h5>
      This is how <i>padding</i> works.
    </h5>
    <p>
      It adds up the space to the element.
    </p>

  </div>


</div>
