

<nav class="tutorialNavigation">

  <ul>
    {% assign lessons = site.lessons | sort: 'date' | reverse %}
    {% for post in lessons reversed %}
      <li>
        <a href="#{{ post.title | slugify }}">
          <div class="lesson-title">
            {{ post.title }}
          </div>
          <div class="topic">
            {{ post.topic }}
          </div>
        </a>
      </li>

    {% endfor %}

  </ul>

  {% include footer.html %}

  <div class="MobileHeader">
    <h1>
      HTML & CSS
    </h1>
    <div class="MobileNavToggle">
      Open Navigation
    </div>
  </div>

</nav>
