
.demoBlockMargin {
  margin: $grid*5 auto !important;
}


// Color tag
.colorExampleDemo {
  display: inline-block;
  color: #FFF;
  background: #1abc9c;
  padding: 3px 4px;
  line-height: 1;
  border-radius: 2px;
  font-weight: 400;
}

// Color Picker
.colorpicker {
  // margin: $grid*3 auto !important;
  max-width: 400px;
}

.hexValue,
#hex {
  font-family: $font-mono;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 1;
}

.hexValue:before {
  content: '#';
  padding-top: 0.3em;
  margin-right: -0.5em;
}

#hex {
  appearance: none;
  width: 110px;
  margin: 0;
  border: none;
  border-bottom: solid 1px $color-gray-light;
  margin-bottom: $grid*2;
  color: $color-font-reg;
  background: none;
}

.colorfield {
  width: 100%;
  height: 200px;
  margin: auto;
  border-radius: 3px;
  cursor: pointer;
  background: #1abc9c;
  border: solid 1px $color-gray-light;
}

@media (prefers-color-scheme: dark) {
  #hex {
    color: $color-dm-font-reg;
    border-color: $color-dm-gray-light;
  }
  .colorfield {
    border-color: $color-dm-gray-light;
  }
}


// demo classes

.demo_classes p {
  background: #64d9c1;
  padding: 20px;
  margin-bottom: 20px;
  color: #FFFFFF;
  &.ourClass {
    background: $color-highlight;
  }
}

// margin padding demo
.marginPaddingDemo {
  display: flex;
  justify-content: space-between;

  .demoContainer {
    width: calc( 50% - #{$grid*2} );

    .mpBox {
      height: 200px;
      width: 200px;
      margin: 0px auto 10px auto;
      animation: marginBox 5s ease infinite alternate-reverse;
      display: flex;
      justify-content: center;
      align-items: center;

      .Box_inner {
        width: 100px;
        height: 100px;
        flex-shrink: 0;
        background: $color-highlight;
      }
    }
  }
}

#marginBox {
  border: 3px dashed $color-gray-light;
}
#paddingBox {
  background: #64D9C1;
}


@keyframes marginBox {
  0%, 10% {
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }
  90%, 100%  {
    height: 100px;
    width: 100px;
    margin: 50px auto;
  }
}

