

// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400;1,600&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Colors
$color-bg: #FFFFFF;

$color-font-reg: #191a1c;

$color-gray-extra-light: #f7f7f7;
$color-gray-light: #CCC;
$color-gray-med: lighten( $color-font-reg , 50% );

$color-highlight: #1abc9c;


// Colors — Dark Mode
$color-dm-bg: #0E1116;

$color-dm-font-reg: #CAD1D8;
$color-dm-font-light: #FFFFFF;

$color-dm-gray-extra-light: #171B21;
$color-dm-gray-light: #31363C;
$color-dm-gray-med: #6F7680;

// Sizes
$grid: 8px;
$max-width: 680px;
$nav-width: 300px;

// Fonts
$font-regular: 'IBM Plex Sans', sans-serif;
$font-mono: 'Space Mono', monospace;
