/* CSS document – template */

/* overall everything ************************/

body, html {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

/* Classic text elements *********************/

h1 {
	background: #1ABC9C;
	padding: 10px;
	margin-left: 10px;
	color: #FFFFFF;
	font-style: italic;
	font-weight: 400;
	display: inline-block;
}

p {
	margin: 0;
	padding: 15px;
	padding-bottom: 20px;
}

a {
	color: #1ABC9C;
}
a:hover {
	text-decoration: none;
}

/* Classes ***********************************/

.intro {
	font-style: italic;
}

.button {
	display: block;
	width: 200px;
	margin: auto;
	margin-top: 20;
	margin-bottom: 25px;
	padding: 5px;
	color: #FFFFFF;
	background: #1ABC9C;
	text-align: center;
	box-shadow: 0 5px #bdc3c7;
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
	transition: background 0.5s;
}
.button:hover {
	background: #64d9c1;
}
.button:active {
	box-shadow: 0 0 0;
	margin-top: 25px;
	margin-bottom: 20px;
}


/* IDs **************************************/

#background {
	height: 100%;
	width: 100%;
	background: url(bg.jpg);
	background-size: cover;
}

#logo {
	font-weight: 400;
	font-size: 20px;
	background: #1ABC9C;
	padding: 5px 10px;
	position: fixed;
	top: 10px;
	right: 10px;
	color: #FFFFFF;
}

#wrapper {
	width: 600px;
	margin: auto;
	padding-top: 60px;	
	padding-bottom: 30px;
}

#content {
	background: rgba(255,255,255,0.8);
	border-radius: 5px;
	padding: 20px;
}